<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <title>NashAgri Demo Payments</title>
</head>
<body class="container mt-5">

    <h2><label for="">Amount: </label></h2>
    <input id="order-amt" class="mb-3" type="number" value="0" required>
    <br>
    <!-- Get order id from razorpay -->
    <button class="btn btn-success" id="order-button1">Create Order</button>
    <br>

<script>
    document.getElementById("order-button1").onclick = function(e) {
        var url = "/api/payment/order";
        var params = {
            amount: document.getElementById("order-amt").value*100,
            currency: "INR",
            receipt: "wthcoding001",
            payment_capture: '1'
        };
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function(res) {
            if (xmlHttp.readyState === 4) {
                res = JSON.parse(xmlHttp.responseText);
                document.getElementById("rzp-text").value = res.sub.id
            }
        }
        xmlHttp.open("POST", url, true);
        xmlHttp.setRequestHeader("Content-type", "application/json");
        xmlHttp.send(JSON.stringify(params));
    }
</script>
<br>
<hr>
<h2><label for="">Order id: </label></h2>
<input type="text" name="" id="rzp-text" class="mb-3">
<br>
<button class="btn btn-primary" id="rzp-button1">Checkout</button>
<div id="paymentDetails"></div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.getElementById("rzp-button1").onclick = function(e) {
        var options = {
            "key": "<%= key %>",
            "currency": "INR",
            "name": "NashAgri",
            "description": "From MahaConnect CashKrop Services Pvt. Ltd.",
            "order_id": document.getElementById("rzp-text").value,
            "handler": function(response) {
                document.getElementById('order-pay-id').value = response.razorpay_payment_id;
                document.getElementById('order-id').value = response.razorpay_order_id;
                document.getElementById('order-sig').value = response.razorpay_signature;
            },
            "theme": {
                "color": "#0EB9F2"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
        e.preventDefault();
    }
</script>
<br>
<hr>

<div>
    <h3 class="d-inline"><label for="">Order id :</label></h3>
    <input type="text" id="order-id" class="mb-3 d-inline">
</div>
<div>
    <h3 class="d-inline"><label for="">Payment id :</label></h3>
    <input type="text" id="order-pay-id" class="mb-3 d-inline">
</div>
<div>
    <h3 class="d-inline"><label for="">Order signature :</label></h3>
    <input type="text" id="order-sig" class=" d-inline">
</div>
<br>
<button class="btn btn-info" id="verify-button1">Verify </button>
<script>
    document.getElementById('verify-button1').onclick = function(e) {
        var url = '/api/payment/verify';
        var params = {
            razorpay_order_id: document.getElementById('order-id').value,
            razorpay_payment_id: document.getElementById('order-pay-id').value,
            razorpay_signature: document.getElementById('order-sig').value
        };
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function(res) {
            if (xmlHttp.readyState === 4) {
                alert(xmlHttp.responseText);
            }
        }
        xmlHttp.open("POST", url, true); // false for synchronous request
        xmlHttp.setRequestHeader("Content-type", "application/json");
        xmlHttp.send(JSON.stringify(params));
    }
</script>
</body>
</html>